<div id="<%= dom_id celebrity %>">
  <p>
    <strong>Name:</strong>
    <%= celebrity.name %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= celebrity.image_url %>
  </p>

  <p>
    <strong>Known cnt:</strong>
    <%= celebrity.known_cnt %>
  </p>

  <p>
    <strong>Unknown cnt:</strong>
    <%= celebrity.unknown_cnt %>
  </p>

</div>
