<p style="color: green"><%= notice %></p>

<%= render @celebrity %>

<div>
  <%= link_to "Back to celebrities", celebrities_path %>
</div>

<h1><%= @celebrity.name %>の知名度</h1>
<img src="<%= @celebrity.image_url %>" alt="<%= @celebrity.name %>" />
<p>知っている: <%= @celebrity.known_cnt %> 回</p>
<p>知らない: <%= @celebrity.unknown_cnt %> 回</p>

<h2>あなたはこの有名人を知っていますか？</h2>
<%= form_with url: vote_celebrity_path(@celebrity), method: :post do %>
  <%= radio_button_tag :vote, "known" %> 知っている
  <%= radio_button_tag :vote, "unknown" %> 知らない
  <br>
  <%= submit_tag "投票する" %>
<% end %>
